/* css reset */

body { margin: 0 }

h1, h2, h3, h4, h5, h6 { font-weight: normal }

table {
 border-collapse: collapse;
 border-spacing: 0
}

th, td {
 text-align: left;
 vertical-align: top
}

img, iframe { border: 0 }

/* style */

img.logo {
	display: block;
	margin: 100px auto auto auto;
	width: 500px;
}

footer {
	position: fixed;
	height: 20px;
	width: 100%;
	bottom: 0;
}

small.copyright {
	font-family: Helvetica, Arial, Sans-Serif;
	position: absolute;
	width: 100%;
	color: #999;
	font-size: 0.9em;
	text-align: left;
	left: 10px;
}
o
