mixin hh2(title, color=hi-green)
    .highlight-container
        h2= title
        .highlight(class!=color)

mixin hh3(title, color=hi-green)
    .highlight-container
        h3= title
        .highlight(class!=color)
